/*Jorge Valencia Abad*/
/*jorge.valaba@educa.jcyl.es*/
html{
    height:100%;
}

body{
    padding:0px;
    margin:0px;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: $negro;
    color: $blanco;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.nav{

    display:flex;
    
}
#icon{
    font-size: 17px;
    color: $negro;
}

.menu-item{

    padding: 0.5rem;
    
}
.l1{

    font-size: 1.5rem;
    padding: 0.3rem;

}

.menu-item a,footer a{

    text-decoration: none;
    color: $blanco;

}
.ham{
    display: none;
}