// variables globales
$myFont: Verdana;
$bcolor:#A95C68;
$titlecolor:#fff;
$headerfootercolor:#363636;
$maincolor:#fff;
$pcolor:black;
$lh:1.5;
$maxwidth:1200px;
$fontsizenav:1rem;
$paddingnav:0.6rem 1rem;


