$tipografia-css:"Roboto", "Sans Serif";
$tipografia-url:'https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&family=Roboto:wght@300&display=swap';
$color-primario:#161616;
$color-secundario:#0067ce;
$imagen1:"../img/paris.jpg";
$imagen2:"../img/ocean.jpg";
$imagen3:"../img/mist.jpg";
$imagen4:"../img/falls.jpg";
$imagen5:"../img/underwater.jpg";
$imagen6:"../img/rocks.jpg";
$imagen7:"../img/wedding.jpg";
$imagen8:"../img/nature.jpg";
$imagen9:"../img/mountainskies.jpg";